azure-core
azure-identity
azure-purview-account
azure-purview-catalog
azure-purview-administration
azure-purview-scanning
azure-storage-blob
python-dotenv
pyodbc
pytest
dataclasses-json
azure-keyvault-secrets
msgraph-core
azure-storage-file-datalake